<h3>Edit To Do</h3>
<div class="row">
    <form action="/dashboard/edit/{{todo._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{todo.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#if todos}}
                    <option value="to do" selected>To Do</option>
                    <option value="doing">Doing</option>
                    <option value="done">Done</option>
                    {{/if}}
                    {{#if doing}}
                    <option value="to do">To Do</option>
                    <option value="doing" selected>Doing</option>
                    <option value="done">Done</option>
                    {{/if}}
                    {{#if done}}
                    <option value="to do">To Do</option>
                    <option value="doing">Doing</option>
                    <option value="done" selected>Done</option>
                    {{/if}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your To Do:</h5>
                <textarea id="body" name="body">{{todo.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>