<div class="container s12 center-align">
    <div class="card">
        <div class="card-content">
            <h3><i class="fas fa-list-ol"></i> To do list!</h3>
            <div class="section">
                <p class="lead">Simple to do list.</p>
                <p class="lead">Made with Javascript, Express.js, MongoDB and love</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <a href="/auth/google" class="btn red darken-1">
                    <i class="fab fa-google left"> Log In With Google</i>
                </a>
            </div>
        </div>
    </div>
</div>